@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.gravatar{
  margin-top: 40px;
  line-height: 16px;
  text-align: center;
}

